<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../hijo-b/hijo-b.html">
<link rel="import" href="../hijo-c/hijo-c.html">

<dom-module id="padre-a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <template is="dom-if" if="[[visibleP]]">
      <h1>Componente Padre</h1>
  
      <p>Soy el que alberga a los componenetes Hijo</p>
  
      <paper-button on-click="cambioB">Cambiar B</paper-button>
      <paper-button on-click="cambioC">Cambiar C</paper-button>
    </template>

    <template is="dom-if" if="[[!visibleB]]">
      <hijo-b></hijo-b>
    </template>

    <template is="dom-if" if="[[!visibleC]]">
      <hijo-c></hijo-c>
    </template>
    
  </template>

  <script>
    /**
     * `padre-a`
     * Componente Padre
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreA extends Polymer.Element {
      static get is() { return 'padre-a'; }
      static get properties() {
        return {
          buttons: {
            type: String,
            value: () => {
              return {
                botonB: 'B',
                botonC: 'C'
              }
            }
          },
          visibleP: {
            type: Boolean,
            value: true
          },
          visibleB: {
            type: Boolean,
            value: true
          },
          visibleC: {
            type: Boolean,
            value: true
          }
        };
      }

      // dato(e){
      //   this.dispatchEvent(
      //     new CustomEvent('click-ca',{
      //       detail: e.currentTarget.innerHTML            
      //     })
      //   )
      // }

      cambioB(ev){
        this.visibleP = false;
        this.visibleB = true;
        this.visibleC = false;
      }

      cambioC(ev){
        this.visibleP = false;
        this.visibleB = false;
        this.visibleC = true;
      }

    }

    window.customElements.define(PadreA.is, PadreA);
  </script>
</dom-module>
